// colors
$color-hf: #bbd9c8;
$color-bg: #f4dac9;
$color-text-h: #db86a9;
$color-text-p: #f1a9bb;
$color-text-s: #f2c5ca;
$color-text-dark-hf: darken($color-hf, 10%);
$color-text-dark-s: darken($color-text-s, 20%);
// shadows
$bs-light: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 2px rgba(0, 0, 0, 0.24);
$bs-lighter: 0px 1px 3px rgba(0, 0, 0, 0.06),
0px 1px 2px rgba(0, 0, 0, 0.12);
// transition
$transition-1: all 200ms ease-out;
// dimensions
$height-form: 55%;
$margin: 64px auto 16px auto;

// MIXINS
@mixin uppercaseWide {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin plainContainer {
  background: transparent;
  box-shadow: none;
}

// for the form and its elements.
@mixin formTitles {
  text-align: center;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
}

@mixin formElements {
  margin: $margin;
  width: 20%;
  min-width: 300px;
  // box-shadow: $bs-lighter;
  display: grid;
  background: lighten($color-bg, 2%);
  border: 2px solid $color-hf;
  padding: 16px;
  @media only screen and (max-width: 420px) {
    box-sizing: border-box;
    margin: 16px auto;
    width: calc(100% - 32px);
  }
}

@mixin inputs {
  transition: $transition-1;
  outline: none; // margin: 0 0 8px 0;
  background: transparent;
  padding: 16px;
  color: darken($color-text-p, 10%);
  text-align: center;
}

@mixin textInputs {
  @include inputs;
  font-size: 1rem;
  height: 1.4rem;
  font-weight: 300;
  border: none;
  &::placeholder {
    @include uppercaseWide();
    font-size: 0.6rem;
    font-weight: 100;
    color: darken($color-text-s, 5%);
  }
}

@mixin submitButtons {
  @include inputs;
  @include uppercaseWide;
  border: 1.5px solid $color-hf;
  box-sizing: border-box;
  font-weight: 300;
  justify-self: center;
  width: 150px;
  cursor: pointer;
  line-height: 0px;
  font-size: 0.7rem;
  &:focus {
    background: $color-hf;
    box-shadow: $bs-lighter;
  }
}