.secrets {
  padding: 64px;
  @media only screen and (max-width: 420px) {
    padding: 8px;
    font-size: 0.6rem;
  }
  @media only screen and (max-width: 768px) and (min-width:421px){
    padding: 16px;
    font-size: 0.8rem;
  }
  p {
    overflow: scroll;
    text-align: justify;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    color: $color-text-dark-hf;
    font-weight: 100;
  }
  .message {
    @include uppercaseWide;
    color: $color-text-dark-s; // color: darken($color-hf, 10%);
  }
}