.secrets {
  padding: 64px;
  p {
    overflow: scroll;
    text-align: justify;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    color: $color-text-dark-hf;
    font-weight: 100;
  }
  .message {
    @include uppercaseWide;
    color: $color-text-dark-s; // color: darken($color-hf, 10%);
  }
}
